.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;

    background-color: #f8f9fa;
    border-bottom: 1px solid #e9ecef;
    box-shadow: 0 2px 4px rgba(52, 58, 64, 0.18);
}